.row
  .col-md-12
    =render partial:"pages/boxes/orders"

    / -if can? :access, :menu_panel
    .btn.btn-primary.btn-lg= link_to 'New Order', new_order_path, :type => "button" 

:javascript
  $('#table-orders').dataTable();