=render "pages/boxes/orders"
=render "pages/boxes/products"
=render "pages/boxes/warehouses"
=render "pages/boxes/users"

:javascript
  $(".scroller").slimScroll({
      height: '300px',
      railVisible: true,
      alwaysVisible: false
   });