/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require coda-slider
 *= require jquery.datetimepicker
 *= require tooplate_style
 *= require scaffolds
 *= require_tree ../../../vendor/assets-plugins/jquery/css
 *= require dataTables/jquery.dataTables
 *= require bootstrap_and_overrides
 *= require_self
 */


ul.navigation .dropdown-menu{
	left: -231px;
	top: 57px;
	background-color: #6FDAEE !important;
}

#content{
	color: black;
}

.actions{
	a{
		text-decoration: none;
	}
}

.form-actions.col-md-7{
	padding-left: 0px; 
}

.box{
	padding: 10px;
}

.box-header{
	font-size: 14px;
}

.box-body{
	margin-top: 15px;
}

.logo{
	margin-top: -30px;
	background-color: transparent;
}

.panel-header{
	background-color: #6CD9EE;
	padding: 10px;
	font-size: 14px;
}

.form-control{
	padding:0;
	margin-top: -8px;
}

h3{
	margin: 10px;
}

.devise label, .devise .header{
	color: #fff;
}
.devise input{
	color: black;
}

.devise a:hover { 
	text-decoration: none; 
}