/*
 *= require dataTables/jquery.dataTables
 *= require bootstrap_and_overrides
*/

.first-block{
	margin-top: 20px;
}

.second-block{
	margin-top:20px; 
	padding-top: 10px;
	border-top:1px solid #DDD;
}